[Desktop Entry]
Name=Figma
Comment=Collaborative interface design tool
Exec=figma-linux
Icon=figma-linux
Terminal=false
Type=Application
Categories=Graphics;Design;
StartupNotify=true

