[Desktop Entry]
Name=RiseUp VPN
Comment=Secure VPN client
Exec=riseup-vpn
Icon=network-vpn
Terminal=false
Type=Application
Categories=Network;Security;
StartupNotify=true

